/* define variable colors */
:root{
  --yellow: rgba(255, 218, 113, 1);
  --white: rgb(255, 255, 255);
  --white-transparent: rgba(255, 255, 255, 0.7);
  --light-gray:rgba(238, 238, 247, 0.4);
  --blue-gray: rgba(68, 88, 119, 1);
  --dark-gray: rgba(49, 52, 61, 1);
  --black: rgba(28, 29, 33, 1);
  font-size: 10px;
}

/* establish font family and line height for entire body */
body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

/* establish coloring for h2 and h3 headers */
h2, h3 {
  color: var(--dark-gray);
}

/* style header as a flexbox with padding and giving it a cool Steelers look :) */
header{
  background-color: var(--dark-gray);
  padding: 15px 6% 15px 0;  
  display: flex;  
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  font-size: 2.0rem;
  font-weight: 350px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
}

/* style left section container of header for the 'Josh Lutz' name */
.left-section{
  display: flex;
  align-items: center;
  background-color: var(--yellow);
  color: var(--dark-gray);
  font-size: 2.0em; 
  padding: 2px 5px 2px 35px;
  line-height: 1;
}

/* style the middle section container of header housing the nav links */
.middle-section{
  display: flexbox;
  align-items: center;
  flex-direction: row;
  flex: 1;
  width: 130%;
}

/* style the profile picture in the header */
.current-user{
  height: 50px;
  border-radius: 16px;
  margin-right: 35px;
  flex-direction: row;
  display: flex;
  align-items: center;
  transition: all 0.25s ease-in;
}

/* style the profile picture in header when user hovers */
.current-user:hover{
  cursor: pointer;
  box-shadow: 1px 1px 15px 1px var(--yellow);
}

/* style nav-specific elements */
nav{
  display: flex;
  justify-content: end; 
  margin-right: 1.5%;  
}

/* style the nav links and prep for hover */
nav a{
  color: var(--yellow);
  /* text-decoration: none; */
  padding: 5px 10px 0.5em;
  margin-right: 20px;
  text-decoration: none; 
  background-image: linear-gradient(200deg, var(--yellow) 0%, var(--yellow) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.25em;
  background-position: bottom;
  transition: all 0.25s ease-in;
}

/* style the nav links on hover */
nav a:hover{
  background-size: 100% 100%;
  color: var(--dark-gray);
}

/* style the banner and include a Heinz field (Steelers stadium) as the background image */
.top-banner{
  background: var(--dark-gray);  
  background-image: url("../images/pittsburgh-g6a3d4d6e2_1280.jpg"), linear-gradient(200deg, var(--yellow) 0%, var(--yellow) 100%);
  background-size: cover;
  background-position: center;
  background-blend-mode: soft-light;
  min-height: 30em;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
  padding: 0 8.2% 2.5%;
}

/* style the h2 element in the top banner so that it says Go Steelers in black and yellow */
.top-banner h2{
  background-color: var(--yellow);  
  font-size: 3.5em;
  padding: 5px 10px;
  color: var(--dark-gray);
  line-height: 1.2;
  display: inline;
}

/* style the main page */
.main-page{
  max-width: 85%;
  margin: auto auto;
  color: var(--dark-gray);
}

/* style the main section where the user will find the styling of sections such as about me, work, and contact me */
.main-section{
  font-size: 1.9em;
  margin: 25px 0;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

/* style the headers that are found outlining what section the user is currently viewing (i.e. About Me, Work, and Contact Me) */
.main-section h2{
  font-size: 250%;
  border-right: solid 3.8px var(--dark-gray);
  padding-right: 15px;
  flex: 0 0 20%;
  text-align: right;
  line-height: 1.25;
}

/* style the flex positioning of the div element in main-section */
.main-section div{
  flex: 0 0 76.5%;
}

/* style the paragraph element which is primarily used in the About Me */
.main-section p{
  margin-bottom: 20px;
}

/* style the flex containers that house all of the work portfolios */
.flex-container{  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* style each flex item, applying dark gray borders and a white shade prior to hover */
.flex-item {
  min-height: 200px;
  max-height: 200px;
  color: var(--dark-gray);
  border: 6px solid var(--dark-gray);
  flex-basis: calc(50% - 1em);
  display: flex;
  align-items: flex-end;
  padding: 0 0 20px 0;
  margin: 0.5em;
  text-decoration: none;
  background-blend-mode: soft-light;
  background-color: var(--white-transparent);
  background-size: 100%;
  transition: all 0.3s;
  font-size: 0.8em;
}

/* establish first child as the main work cards so that it is larger than other work cards */
.flex-item:first-child{
  min-height: 400px;
  flex-basis: 100%;  
}

/* style the div container where the text is found inside the respective work card */
.flex-item div{
  background-color: var(--yellow);
  padding: 8px 10px;  
  display: flex;
  flex: auto 0;
  flex-direction: column;
}

/* style the main header in the div container found inside the respective work card */
.flex-item h3{
  font-size: 2.0em;
  color: var(--dark-gray);
}

/* style the flex item hover capability showing that it is more in focus */
.flex-item:hover {
  background-color: rgba(223, 223, 223, 0.062);
}

/* style the contact me container */
#contact-me address {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

/* style the links within the contact me container and prep them for hover */
#contact-me address a {
  color: var(--dark-gray);
  padding: 5px;
  text-decoration: none;
  font-size: 1.3em;
  font-style: normal;
  background-image: linear-gradient(270deg, var(--dark-gray) 0%, var(--dark-gray) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: bottom;
  transition: all 0.25s ease-in;
  margin: 0 0.2rem 0.1rem;
  display: inline-block;
}

/* style the hover portion of the contact me when hovering */
#contact-me address a:hover {
  background-size: 100% 88%;
  color: var(--yellow);
}

/* add in the image for SPPECTR and size, ensuring no repeat */
.SPPECTR{
  background-image: url("../images/Virtuoso-Main-Page.png");
  background-repeat: no-repeat;
  background-size: 86%;
}

/* add in the image for iDAD and size, ensuring no repeat */
.iDAD{
  background-image: url("../images/iDAD_Homepage.PNG");
  background-repeat: no-repeat;
  background-size: 100%;
}

/* add in the image for YouTube Clone and size, ensuring no repeat */
.youtubeClone{
  background-image: url("../images/youtube-logo-byjosh.jpg");  
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}


/* media query section */
@media screen and (max-width: 970px) {
  header {
    display: flex;
    position: relative;
    padding: 0 0 10px 0;
    justify-content: center;
    text-align: center;
  }

  .left-section{
    display: flex;
    padding: 0;
    text-align: center;
    width: 100%;
  }

  .middle-section{
    display: flex;
    flex-direction: row;
    margin-left: 0;
    justify-content: center;
  }

  .right-section{
    display: none;
  }

  .current-user{
    display: none;
  }

  header h1 {
    width: 100%;
    padding: 5px;
    font-size: 10vw;
  }

  header nav {        
    justify-content: center;
    margin: 8px 0 0 0;
  }

  nav a:last-child{
    margin-right: 0;
  }

  .main-section > h2,
  .main-section > div {
    flex: 0 0 100%;
  }

  .main-section > h2 {
    border-right: none;
    border-bottom: 4px solid var(--dark-gray);
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-align: left;
    font-size: 7vw;
  }
}

@media screen and (max-width: 750px) {
  header nav{
    font-size: 65%;
  }

  .flex-item,
  .flex-item:first-child {
    flex-basis: 100%;
  }

  .flex-item:first-child {
    min-height: 150px;
  }

  .top-banner {
    justify-content: center;
    text-align: center;
  }
}